<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title class="text-center" style="margin: 20px 0 15px;">Iniciar sesión</mat-card-title>

                <mat-card-content>
                    <form >

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput required [(ngModel)]="loginData.username" name="username" required type="email"
                                placeholder="Ingresa tu correo electrónico">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [(ngModel)]="loginData.password" name="password" required type="password" 
                                placeholder="Ingresa tu contraseña" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="mostrarPass($event)">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="full-width" (click)="formSubmit()">Iniciar sesión</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>